{
    "presets": [["es2015", {"loose": true}], "stage-0", "react"],
    "plugins": [
        "syntax-flow",
        ["module-resolver", {
            "root": ["", "./modules"],
            "alias": {
                "rdi-todo": "./src"
            }
        }],
        ["transform-metadata", {
            "jsxPragma": "_t"
        }],
        ["transform-react-jsx", {
            "pragma": "_t.h"
        }],
        "transform-decorators-legacy",
        "transform-flow-strip-types"
    ],
    "env": {
        "development": {
            "plugins": [
                "espower"
            ]
        }
    }
}
