{
    "presets": ["es2015", "stage-0", "react"],
    "plugins": [
        ["babel-plugin-module-alias", [
            {
                "src": "./assets",
                "expose": "reactive-di-todomvc/assets"
            },
            {
                "src": "./src",
                "expose": "reactive-di-todomvc"
            }
        ]],
        "syntax-flow",
        "espower",
        "flow-comments",
        "transform-flow-strip-types",
        "transform-runtime"
    ]
}
